<h1>{{title}}</h1>
<nav class="navbar bg-primary " data-bs-theme="dark">
  <div class="container-fluid">
    
      <ul class="navbar-nav list-inline">
        <li class="nav-item list-inline-item">
          <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item list-inline-item">
          <a class="nav-link"  routerLink="/heroes">Heroes</a>
        </li>
        </ul>
  </div>
</nav>

<!-- <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
</nav> -->


<router-outlet></router-outlet>
<app-messages></app-messages>